<div class="welcome-description">
  <p>It's harder to write an intro piece to my own blog and website than it is to wrangle servers!</p>
  <p>I write about tech, DevOps and the cloud.. And occassionally about what goes about in my brain! You can head over <a href="/about">here</a> to know more about me or you can read my most recent posts below..</p>
  <p>I run the Fargate Masterclass that will enable you to scale up on your Serverless and scaling chops! Sign up <a href="https://fargate.cruisemaniac.com/">here</a> to be intimated when the next batch starts.</p>
</div>